.input-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-task {
  flex: 1;
  padding: 1rem;
  border: .1rem solid #ddd;
  border-radius: .4rem;
  font-size: 1.6rem;
}

.submit-button {
  background-color: #4169E1;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1.6rem;
  
}
.submit-button:hover{
  background-color: #0178a0;


} 

.error-message {
  color: red;
  margin-top: 5px;
}