html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  color: #333;
}

@media (min-width: 768px) {
  .todo-container {
    max-width: 75rem;
    margin: 7rem auto;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px 30px;
  }
}

@media (min-width: 320px) {
  .todo-container {
    width: 90%;
    text-align: center;
    background-color: #fff;
    margin: 7rem auto;
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 10px;
  }
}
